<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
          {% block title %}Barber Cut!{% endblock %}
        </title>
       
        <link rel="stylesheet" href="{{ asset('theme/css/style.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,400i" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

      
       <!-- Navigation -->
      <header>
        <div class="topnav" id="myTopnav">
          <a href="#">Présentation</a>
          <a href="#">Actualité</a>
          <a href="#">Galerie</a>
          <a href="#">Tarifs/Forfaits</a>
          <a href="#">Equipe</a>
          <a href="#">Contact</a>
          <a href="http://localhost/projet3/web/app_dev.php/login">Login</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
      </div>
      </header>
      
      <main>
            
      {% block body %}{% endblock %}

      </main>

    <footer class="" style="background: #2d3246;">
    <div class="container">
    <p> footer </p>    
    </div>           
    </footer>


        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

        
        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
        {% endblock %}

    </body>
</html>
