<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Barber Cut!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,400i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
      {% block body %}
       <!-- Navigation -->
      <header>
        <div class="topnav" id="myTopnav">
          <a href="#">Présentation</a>
          <a href="#">Actualité</a>
          <a href="#">Galerie</a>
          <a href="#">Tarifs/Forfaits</a>
          <a href="#">Equipe</a>
          <a href="#">Contact</a>
          <a href="#">Login</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
      </div>
      </header>
      <section class="hero-cover tour-cover">
                <div class="hero-cover-content">
                    <div class="separator gry-separator"></div>
                    <p>Everything you need to create an exceptional website</p>
                    <em>Free 14-day trial with 24/7 support. No credit card required.<br></em>

                    <!--LINKS Button GET STARTED,WATCH DEMO -->
                    <div class="cover-links">
                        <button type="button" class="btn btn-hero-cover">Get Started</button>
                        <a href="#">Watch Demo</a>
                    </div>

                    <p class="artist-cover">Sara Blake<br><span>Fine Artist</span></p>
                </div>
                <img src="web/images/header.jpg" class="img-fluid" alt="Responsive image">
      </section>
      {% endblock %}


        {% block javascripts %}
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
        {% endblock %}

    </body>
</html>
