{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div>
        <img src="{{ asset('images/header.jpg')}}" alt="Responsive image" class="img_header">
    
    </div>
   
</section>

<section class="news">
</section>

<section class="gallery"></section>

<section class="Tarifs"></section>

<section class="team"></section>



{% endblock %}
